.GenderText{
  margin-top: 10vh;
}
.GenderSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.GenderMale button,
.GenderFemale button {
  border: none; 
  background: none; 
  padding: 16px; 
  cursor: pointer;
}

.GenderMale img
.GenderFemale img{
    margin: auto;
    width: 128px;
    height:128px;
    background-size: cover;
}


.GenderNext{
  margin-top: 12vh;
  border: none;
}

.GenderNext button{
  border: none;
}

.GenderNext img{
  width:64px;
  height:64px;
  border: none;
  background-image: url('../../../public/Icons/next-icon.png');
  background-size: cover;
}

