.Dob{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; 
}


.DobImage{
    margin-top: 10vh;
    border: none; 
    background: none;
    width: 128px;
    height:128px;
    background-image: url(../../../public/Icons/calendar-icon.png);
    background-size: cover;
    display: inline-block;
}
.DobInput{
    margin-left:-10vh;
    margin-top: 5vh;
}

.DobInput label{
    font-size:larger;
    margin-right: 10px;
    color: var(--primary-color);
}

.DobDatePicker{
    border: 1px solid black;
    margin: auto;
    width: 128px;
    font-size: larger;
}

.DobNext{
    margin-top: 12vh;
    border: none;
}

.DobNext button{
    border: none;
}

.DobNext img{
    width:64px;
    height:64px;
    border: none;
    background-image: url('../../../public/Icons/next-icon.png');
    background-size: cover;
}